# Logs
*.log

# Node modules
node_modules/

# macOS / Windows / system files
.DS_Store
Thumbs.db

# Build output
dist/
build/
.web/
.next/
out/

# Test files
__tests__/
*.spec.js
*.test.js
*.test.ts
*.test.tsx

# Local tools
.vscode/
.idea/

# Environment files
.env
.env.*

reactotron/
ReactotronConfig.js